<%- include("partials/header") %>
    <%- include("partials/aside") %>
                <li><a href="/">Home</a></li>
                <li><a href="/animalshelter/1">Animal shelter</a></li>
                <li><a href="/contactpersons" class="active">Contact persons</a></li>
            </ul>
        </section>

    </aside>
    <main>
        <section class="main-body">
            <% for (let i = 0; i < filteredContactPersons.length; i++) { %>
            <article class="card" style="width: 400px">
                <a href="#" class="ModalTrigger" data-index="<%= i %>">
                    <section>
                        <h2>Id:</h2>
                        <p><%= filteredContactPersons[i].id %></p>
                    </section>
                    <section>
                        <h2>Name:</h2>
                        <p><%= filteredContactPersons[i].name %></p>
                    </section>
                    <section>
                        <h2>Position:</h2>
                        <p><%= filteredContactPersons[i].position %></p>
                    </section>
                    <section>
                        <h2>Email:</h2>
                        <p><%= filteredContactPersons[i].email %></p>
                    </section>
                    <section>
                        <h2>Phone:</h2>
                        <p><%= filteredContactPersons[i].phone %></p>
                    </section>
                </a>
            </article>
            <% } %>
            <% if (filteredContactPersons.length !== contactPersonJson.length) { %>
                <!-- Show the "Show All" button only if data is filtered -->
                <a href="/contactpersons">
                    <button>Show all</button>
                </a>
            <% } %>
        </section>

        <div class="Modal">
            <div class="ModalContent">
            </div>
        </div>
        <%- include("partials/footer") %>